<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" thread-count="1" verbose="5">
    <test name="smoke" enabled="true">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.marnyansky.tests.HomePageTests"/>
            <class name="com.marnyansky.tests.SearchTests"/>
        </classes>
    </test>

    <test name="regression" enabled="false">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="com.marnyansky.tests.HomePageTests"/>
            <class name="com.marnyansky.tests.SearchTests"/>
        </classes>
    </test>
</suite>
